<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 찾기</h4>
        </div>
    </div>
    <form th:action="@{/user/find}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">등록한 이메일</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">임시 비밀번호 발송</button>
    </form>
</div>
</html>
